{
    "presets": ["latest"],
    "plugins": [
        "transform-class-properties",
        ["transform-object-rest-spread", {"useBuiltIns": true}],
        "transform-decorators-legacy",
        "transform-runtime"
    ]
}
