{{#if hasContent}}
    <h3 class="execution__title">Execution</h3>
    <div class="execution__content">
        {{> stages-block stages=before name='Set up' baseUrl=baseUrl expanded=false}}
        {{> stages-block stages=test name='Test body' baseUrl=baseUrl expanded=true}}
        {{> stages-block stages=after name='Tear down' baseUrl=baseUrl expanded=false}}
    </div>
{{/if}}
