{{#if categories}}
    <span class="pane__section-title">{{t 'testResult.categories.name'}}</span>
    <span class="pane__section-content">
        {{#each categories}}
            <span>{{name}} </span>
        {{/each}}
    </span>
{{/if}}
