@import "../../variables.css";

.sorter {
  overflow: hidden;
  color: $text-muted-color;
  user-select: none;
  &_enabled {
    color: $text-color;
   }
  &__menu {
    list-style-type: none;
    padding: 7px 15px 7px 25px;
    margin: 0px;
    float: right;
  }
  &__item {
     cursor: pointer;
    display: inline;
    padding-left: 25px;
  }
  &__icon {
     padding-left: 5px;
   }
}