@import "../../variables.css";
@import "../../mixins.css";

.testcase {
  &__trace {
    border-top: 1px solid $border-color;
    padding-top: 10px;
    margin-top: 10px;
    display: none;
    &_visible {
      display: block;
    }
  }
  &__trace-toggle {
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    color: $text-muted-color;
    &:hover {
      background-color: $hover-color;
    }
  }
  &__severity {
    color: $color-canceled;
  }
  &__failure {
    padding-bottom: 10px;
  }
}

.testcase__failure_expanded > .testcase__trace {
  display: block;
}

.message {
  border-bottom: 3px solid;
  @mixin status-border;
}