@import "../../variables.css";
@import "../../mixins.css";

.testcase {
  &__trace {
    display: none;
    &_visible {
      display: block;
    }
  }
  &__severity {
    color: $color-canceled;
  }
}

.message {
  border-bottom: 3px solid;
  @mixin status-border;
}