@import "../../mixins.scss";

.label {
  vertical-align: baseline;
  letter-spacing: 1px;
  color: #fff;
  padding: 2px 4px 2px 5px;
  font-size: 80%;
  border-radius: 3px;
  @include status-bg-bright();

  &__info {
    background: #3c58e4;
  }
}
