@use "../../../theme/spacing.scss" as *;

.attachment-preview_table {
  background: var(--color-bg-secondary);
  border-radius: var(--radius-0-5);
  overflow: auto;
  padding: gap(2);

  &_fullscreen {
    background-color: var(--color-bg-raised);
  }
}

.attachment-preview__table {
  width: 100%;

  tr {
    border-bottom: 1px solid var(--color-border-subtle);
  }

  td {
    padding: gap(1) gap(2);
  }
}
