@import "../../variables.scss";

.attachment-row {
  padding: 5px $gap-size 5px 25px;
  cursor: pointer;
  font-size: smaller;
  display: flex;
  position: relative;
  position: sticky;
  top: 0;

  &:hover {
    background: $hover-color;
  }
  &_selected {
    &, &:hover {
      background: $selected-color;
    }
  }
  &__link {
    position: relative;
    min-width: 70px;
  }
  &__icon {
    left: 11px;
    position: absolute;
  }
  &__name {
     flex: 1;
  }
  &__preview {
    margin: 5px $gap-size 5px 25px;
  }
  &__content{
    border-left: 3px solid $hover-color;
    padding-left: 5px;
  }
}
