@import "../../variables.css";

.attachment-row {
  width: 90%;
  padding: 5px $gap-size 5px 25px;
  cursor: pointer;
  position: relative;
  font-size: smaller;
  display: flex;
  &:hover {
    background: $hover-color;
  }
  &_selected {
    &, &:hover {
      background: $selected-color;
    }
  }
  &__link {
    position: relative;
    min-width: 70px;
  }
  &__icon {
    left: 11px;
    position: absolute;
  }
  &__name {
     flex: 1;
  }
}
