@import "../../variables.scss";

.test-result-history {
  padding: 10px;

  &__title {
    margin: 15px 15px 0.3em;
  }
  &__row {
    display: block;
    padding: 7px 15px 7px $gap-size;
    &:hover {
      background-color: $hover-color;
    }
  }
  &__success-rate {
    margin: 0 15px 0.3em;
  }
}