{{#if parameters.length}}
<h3>Parameters</h3>
    {{#each parameters}}
        <div class="testcase-environment">
            <span class="testcase-environment__key">{{name}}</span>:
            {{linky value}}
        </div>
    {{/each}}
{{/if}}