{{> ../../../blocks/pane-header/pane-header baseUrl=baseUrl uid=uid title=(t "defects.DEFECT")}}

<div class="alert alert_status_{{status}}">
    <pre class="alert__code"><code>{{message}}</code></pre>
</div>

<div class="defect__table"></div>
