@import "../../variables.scss";

.node {
  margin-left: 0;
  position: relative;
  display: block;
  text-decoration: none;
  color: $text-color;

  .node {
    margin-left: 20px;
  }
  &:last-child {
    padding-bottom: 10px;
  }
  &__arrow {
    left: 7px;
    position: absolute;
  }
  &__anchor {
    left: 10px;
    position: absolute;
  }
  &__stats {
    display: block;
    float: right;
    white-space: nowrap;
  }
  &__title {
    overflow: hidden;
    line-height: 1.2em;
    padding: 7px $gap-size 7px 25px;
    flex: 1;
    display: flex;
    cursor: pointer;
    border-top: 1px solid #ECEFF1;
    position: relative;
    .node__leaf & {
      padding: 7px $gap-size 7px 35px;
    }
    &_active {
      background-color: $selected-color;
        &::before {
        background-color: $selected-color;
      }
    }
    &:hover {
      background-color: $hover-color;
      &::before {
        background-color: $hover-color;
      }
    }
  }
  &__info {
    color: $text-muted-color;
    padding: 7px;
  }
  &__time {
    padding: 5px;
  }
  &__parameters {
    color: $text-muted-color;
    min-width: 2ch;
    &_separator:last-child {
      display: none;
    }
  }
  &__children {
    display: none;
    .node__expanded > & {
      display: block;
    }
  }
  &:focus {
    outline: 0;
  }
}

[dir=rtl] .attachment-row.attachment-row_selected > .attachment-row__arrow > .fa-angle-right {
	transform: rotate(180deg);
}

[dir=rtl] .step_expanded > .step__title > .step__arrow {
	transform: rotate(90deg);
}

[dir=rtl] .node__expanded > .node__title > .node__arrow {
	transform: rotate(90deg);
}

[dir=ltr] .node__expanded > .node__title > .node__arrow {
	transform: rotate(90deg);
}

.tree {
  &__ctrl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $border-color;
    background: $pane-overlay-bg-hover;
  }
  &__filter, &__sorter {
    padding: 0px $gap-size 0px $gap-size;
    position: relative;
    white-space: nowrap;
  }
  &__strut {
    flex: 1;
  }
  &__empty {
    border-top: 1px solid #ECEFF1;
    padding: 8px 0px 0px 15px;
  }
}
