@import "../../variables.scss";

.execution {
  &__title {
    margin: $gap-size $gap-size 5px;
  }
  &__stage-title {
    margin: $gap-size $gap-size 5px;
  }
}

.step {
  line-height: 1.2em;
  &__status {
    left: 7px;
    position: absolute;
  }
  &__arrow {
    left: 7px;
    position: absolute;
    display: none;
  }
  &__title {
    position: relative;
    padding: 7px $gap-size 7px 25px;
    &_hasContent {
      cursor: pointer;
    }
    &_hasContent > .step__arrow {
      display: block;
    }
    &:hover {
      background-color: $hover-color;
      &::before {
        background-color: $hover-color;
      }
    }
    &_stage {
      font-weight: bold;
    }
  }
  &__name {
    display: inline-flex;
    max-width: 90%;
  }
  &__content {
    margin-left: 20px;
    display: none;
  }
  &_expanded > &__content {
    display: block;
  }
}

[dir=rtl] .step_expanded > .step__title > .step__arrow {
  transform: rotate(90deg);
}

[dir=ltr] .step_expanded > .step__title > .step__arrow {
  transform: rotate(90deg);
}

.parameters {
  display: inline;
  white-space: nowrap;
  &_name {
    font-style: italic;
  }
  &_separator:last-child {
   display:none;
  }
  &__table {
    display: table;
    font-size: 12px;
    margin: 0px 0px 5px 10px;
    width: 85%;
    table-layout: fixed;
    &_row {
      display: table-row;
    }
    &_cell {
      display: table-cell;
      padding: 5px 5px;
      border-bottom: 1px solid $border-color;
      cursor: pointer;
      word-wrap: break-word;
      &_name {
        width: 25%;
      }
      &_value{
        width: 75%;
      }
    }
  }
}

