<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2200</integer>
			<key>Identifier</key>
			<string>543A6B9B-001C-5D3D-B0B8-CC61BC97360B</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,4</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.12.4</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.12.4 (16E195)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 6</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>010420F5-2B54-406A-8ABF-05F86AA4E70C</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone7,2</string>
			<key>ModelName</key>
			<string>iPhone 6</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-6-b4b5b9</string>
			<key>Name</key>
			<string>iPhone 6</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>10.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.1 (14B72)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator10.1</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 10.1</string>
			<key>OperatingSystemVersion</key>
			<string>10.1</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>AmpiriAuto.xcodeproj</string>
			<key>TargetName</key>
			<string>AmpiriAutoUITests</string>
			<key>TestName</key>
			<string>AmpiriAutoUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>426.5333739519119</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>426.5315989851952</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>426.5304769873619</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287800.080315</real>
													<key>StartTimeInterval</key>
													<real>516287800.079764</real>
													<key>Title</key>
													<string>Start Test at 2017-05-12 15:16:40.080</string>
													<key>UUID</key>
													<string>42F62B86-50B3-4795-8B93-6F16664FC628</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287800.081897</real>
													<key>StartTimeInterval</key>
													<real>516287800.080863</real>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>08082EAF-8BCB-4CDB-811C-617EB6867C28</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287813.978609</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>516287806.254878</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287812.597129</real>
															<key>StartTimeInterval</key>
															<real>516287810.28698</real>
															<key>Title</key>
															<string>Waiting for accessibility to load</string>
															<key>UUID</key>
															<string>E456E64A-D438-4112-AAC9-18BDD4867966</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287812.903701</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287812.597871</real>
															<key>Title</key>
															<string>Wait for app to idle</string>
															<key>UUID</key>
															<string>73515330-C8F9-4943-906B-006A5A3B8DDA</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Launch com.glispa.AmpiriAuto</string>
													<key>UUID</key>
													<string>1A93D8E1-B1C6-4C0E-B4A6-5E8E690AA5F7</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287817.690428</real>
													<key>HasElementsOfInterest</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>516287817.052445</real>
													<key>Title</key>
													<string>Snapshot accessibility hierarchy for com.glispa.AmpiriAuto</string>
													<key>UUID</key>
													<string>729E8581-D52E-4992-BE99-A8EB7250C2F0</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287818.72604</real>
													<key>StartTimeInterval</key>
													<real>516287817.696863</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287817.728239</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287817.697282</real>
															<key>Title</key>
															<string>Wait for app to idle</string>
															<key>UUID</key>
															<string>92D015E5-965D-4171-849C-35CC0945FEA2</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287818.432196</real>
															<key>StartTimeInterval</key>
															<real>516287817.728865</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287818.384453</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287817.729403</real>
																	<key>Title</key>
																	<string>Snapshot accessibility hierarchy for com.glispa.AmpiriAuto</string>
																	<key>UUID</key>
																	<string>C0F9E9FB-9A99-469A-AD52-32E385301283</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287818.390296</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287818.389637</real>
																	<key>Title</key>
																	<string>Find: Descendants matching type Switch</string>
																	<key>UUID</key>
																	<string>97FA4E78-6912-4B76-A07A-B44791C69739</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287818.391084</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287818.390771</real>
																	<key>Title</key>
																	<string>Find: Elements matching predicate &apos;&quot;0&quot; IN identifiers&apos;</string>
																	<key>UUID</key>
																	<string>A07EA26C-2105-4922-984E-800DB46DB866</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287818.431462</real>
																	<key>HasScreenshotData</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287818.398135</real>
																	<key>Title</key>
																	<string>Wait for app to idle</string>
																	<key>UUID</key>
																	<string>45A0D913-638D-41C2-953B-001CC0234627</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the &quot;0&quot; Switch</string>
															<key>UUID</key>
															<string>9C934A6B-F458-4041-AE4F-E388EABE86A9</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287818.684806</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>HasSnapshot</key>
															<true/>
															<key>HasSynthesizedEvent</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287818.43263</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>431F0097-901C-409F-8116-2347DB056036</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287818.725549</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287818.692313</real>
															<key>Title</key>
															<string>Wait for app to idle</string>
															<key>UUID</key>
															<string>D721CEF2-4BCF-4873-A410-C087AF9B16A8</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap &quot;0&quot; Switch</string>
													<key>UUID</key>
													<string>D020B896-FC17-42D4-A3E2-6B8F3F3A2ECB</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287820.357274</real>
													<key>StartTimeInterval</key>
													<real>516287818.726557</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287818.757283</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287818.726913</real>
															<key>Title</key>
															<string>Wait for app to idle</string>
															<key>UUID</key>
															<string>B61E3FF5-9D59-4CCF-91E9-342805EA72F9</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287819.448856</real>
															<key>StartTimeInterval</key>
															<real>516287818.757742</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287819.404813</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287818.758274</real>
																	<key>Title</key>
																	<string>Snapshot accessibility hierarchy for com.glispa.AmpiriAuto</string>
																	<key>UUID</key>
																	<string>E59C6566-9357-4ECD-AD58-8672714B2341</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287819.411333</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287819.410565</real>
																	<key>Title</key>
																	<string>Find: Descendants matching type Button</string>
																	<key>UUID</key>
																	<string>73A56418-50AD-474C-BA78-45EA98BDC154</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287819.412197</real>
																	<key>HasElementsOfInterest</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287819.41183</real>
																	<key>Title</key>
																	<string>Find: Elements matching predicate &apos;&quot;Load&quot; IN identifiers&apos;</string>
																	<key>UUID</key>
																	<string>8F6C844A-32A8-4881-98D3-1684393E8E42</string>
																</dict>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>516287819.448397</real>
																	<key>HasScreenshotData</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>516287819.418898</real>
																	<key>Title</key>
																	<string>Wait for app to idle</string>
																	<key>UUID</key>
																	<string>82FF76A3-DED8-4AF0-B6E7-5DA77F698024</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the &quot;Load&quot; Button</string>
															<key>UUID</key>
															<string>CABD599D-B506-495F-8B70-E83ED2E41C63</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287819.694391</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>HasSnapshot</key>
															<true/>
															<key>HasSynthesizedEvent</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287819.449185</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>19BBD55E-417A-4202-A44C-3F4BB9DFE373</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287820.356667</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287819.701651</real>
															<key>Title</key>
															<string>Wait for app to idle</string>
															<key>UUID</key>
															<string>786DA51B-8890-4E88-B52C-478815C9C9D1</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Tap &quot;Load&quot; Button</string>
													<key>UUID</key>
													<string>A99B928B-8847-4D39-965D-3F5CB8E7CD2F</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287826.326211</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>516287825.502362</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.303298</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287825.538925</real>
															<key>Title</key>
															<string>Snapshot accessibility hierarchy for com.glispa.AmpiriAuto</string>
															<key>UUID</key>
															<string>44FEE2E2-AD8B-499C-8741-59D98FAEA265</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.310573</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.309866</real>
															<key>Title</key>
															<string>Find: Descendants matching type CollectionView</string>
															<key>UUID</key>
															<string>82A32BED-2D3F-4888-9BB0-44C943B896AE</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.316052</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.315586</real>
															<key>Title</key>
															<string>Find: Elements matching predicate &apos;&quot;kAMPAutoTestCollectionView&quot; IN identifiers&apos;</string>
															<key>UUID</key>
															<string>C89AC8FB-4FA3-4EC0-A55A-140CD52680F0</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.321545</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.320998</real>
															<key>Title</key>
															<string>Find: Descendants matching type Cell</string>
															<key>UUID</key>
															<string>AF75B503-2909-45ED-8A39-FBF0674E54C1</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Get number of matches for: Descendants matching type Cell</string>
													<key>UUID</key>
													<string>3FB650BF-A93B-400A-94CB-AB7B5DB93CE5</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287826.352158</real>
													<key>StartTimeInterval</key>
													<real>516287826.327285</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.328254</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.327807</real>
															<key>Title</key>
															<string>Use cached accessibility hierarchy for com.glispa.AmpiriAuto</string>
															<key>UUID</key>
															<string>EB2E4E34-678C-4A4B-8096-9E9BC818228A</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.33501</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.334372</real>
															<key>Title</key>
															<string>Find: Descendants matching type CollectionView</string>
															<key>UUID</key>
															<string>8F75368C-0E16-4766-B65D-8EE2F883656D</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.340015</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.33963</real>
															<key>Title</key>
															<string>Find: Elements matching predicate &apos;&quot;kAMPAutoTestCollectionView&quot; IN identifiers&apos;</string>
															<key>UUID</key>
															<string>CAAE45A7-9E0E-4CFA-B70C-F23E36803A00</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287826.34554</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.344993</real>
															<key>Title</key>
															<string>Find: Descendants matching type Cell</string>
															<key>UUID</key>
															<string>55DD1A91-758D-4B0D-A2A0-97E32068F029</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.userCreated</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_1_1FBB627A-3D11-41E3-B4E6-5C717C75F175.jpeg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>0</integer>
																	<key>Name</key>
																	<string>Screenshot</string>
																	<key>PayloadSize</key>
																	<integer>106231</integer>
																	<key>Timestamp</key>
																	<real>582123385.606802</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																	<key>UserInfo</key>
																	<dict>
																		<key>Scale</key>
																		<real>2.0</real>
																	</dict>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>582123385.618528</real>
															<key>StartTimeInterval</key>
															<real>582123385.541983</real>
															<key>Title</key>
															<string>Тапнули</string>
															<key>UUID</key>
															<string>1FBB627A-3D11-41E3-B4E6-5C717C75F175</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Find the Cell</string>
													<key>UUID</key>
													<string>C3574B69-FB96-4D27-97A3-8DEDC5801C39</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287827.173432</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>516287826.352727</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.151777</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287826.384836</real>
															<key>Title</key>
															<string>Snapshot accessibility hierarchy for com.glispa.AmpiriAuto</string>
															<key>UUID</key>
															<string>3D0534DB-A31C-48F8-AC72-2A460748B644</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.158312</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.157634</real>
															<key>Title</key>
															<string>Find: Descendants matching type CollectionView</string>
															<key>UUID</key>
															<string>AF77410A-F834-46AD-937E-B047C3CF54D5</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.163203</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.162827</real>
															<key>Title</key>
															<string>Find: Elements matching predicate &apos;&quot;kAMPAutoTestCollectionView&quot; IN identifiers&apos;</string>
															<key>UUID</key>
															<string>203A4D90-958B-4A80-BBB1-D591BB17746A</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.168597</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.168021</real>
															<key>Title</key>
															<string>Find: Descendants matching type Cell</string>
															<key>UUID</key>
															<string>CF88E4F6-324F-4D36-B098-2E1FF1A0142F</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Get number of matches for: Descendants matching type Cell</string>
													<key>UUID</key>
													<string>59E0F4F6-4FCD-4DD1-B780-73F6BF10F6B6</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287827.198494</real>
													<key>StartTimeInterval</key>
													<real>516287827.174037</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.175009</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.174611</real>
															<key>Title</key>
															<string>Use cached accessibility hierarchy for com.glispa.AmpiriAuto</string>
															<key>UUID</key>
															<string>DC1DBE84-93AC-4E41-A8F2-EB41859F6F09</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.181694</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.181162</real>
															<key>Title</key>
															<string>Find: Descendants matching type CollectionView</string>
															<key>UUID</key>
															<string>AD363AE4-F536-4BC4-A41F-735060DE4F59</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.186793</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.186404</real>
															<key>Title</key>
															<string>Find: Elements matching predicate &apos;&quot;kAMPAutoTestCollectionView&quot; IN identifiers&apos;</string>
															<key>UUID</key>
															<string>CC7157D4-513E-4B56-835B-5B96032BBF40</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.192238</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.191749</real>
															<key>Title</key>
															<string>Find: Descendants matching type Cell</string>
															<key>UUID</key>
															<string>7E00F955-0DDC-4AE1-BD1E-9ACBAFDF0583</string>
														</dict>
														<dict>
															<key>FinishTimeInterval</key>
															<real>516287827.197056</real>
															<key>HasElementsOfInterest</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>516287827.196609</real>
															<key>Title</key>
															<string>Find: Element at index 0</string>
															<key>UUID</key>
															<string>0B01FD36-3BA3-4442-8EC1-46D3721B166C</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Find the Cell</string>
													<key>UUID</key>
													<string>29EC3F59-8670-4EFA-A52D-CBE9D73E5750</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>516287831.278384</real>
													<key>StartTimeInterval</key>
													<real>516287831.277317</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>270FF7EE-C70D-4310-AAA2-235070D5D280</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>31.54852604866028</real>
											<key>TestIdentifier</key>
											<string>CollectionViewInfeedTemplateTests/test_C1433()</string>
											<key>TestName</key>
											<string>test_C1433()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2ED7DE95-7B46-407B-9775-163F25C38BBA</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CollectionViewInfeedTemplateTests</string>
									<key>TestName</key>
									<string>CollectionViewInfeedTemplateTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>AmpiriAutoUITests.xctest</string>
							<key>TestName</key>
							<string>AmpiriAutoUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>Selected tests</string>
					<key>TestName</key>
					<string>Selected tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
