@use "../../../theme/spacing.scss" as *;
.marks-toggle {
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: gap(1);
    user-select: none;
    word-break: break-word;
  }

  &__label {
    flex: 0 0 auto;
  }

  &__item {
    cursor: pointer;
    padding: gap(1) 0;
    display: inline-block;
    white-space: nowrap;
  }
}

.y-label-mark {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  background: var(--color-control-bg-ghost-active);
  border: 1px solid var(--color-border-medium);
  color: var(--color-icon-primary);
  min-height: gap(2.5);
  padding: gap(0.25) gap(1);
  border-radius: var(--radius-pill);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  transition:
    background-color var(--color-change-transition-duration),
    border-color var(--color-change-transition-duration),
    color var(--color-change-transition-duration);

  &:hover {
    background: var(--color-control-bg-ghost-hover);
    color: var(--color-icon-primary);
  }
}

.n-label-mark {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0;
  min-height: gap(2.5);
  padding: gap(0.25) gap(1);
  border-radius: var(--radius-pill);
  border: 1px solid var(--color-border-control);
  background: var(--color-control-bg-ghost);
  color: var(--color-icon-secondary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  transition:
    background-color var(--color-change-transition-duration),
    border-color var(--color-change-transition-duration),
    color var(--color-change-transition-duration);

  &:hover {
    background: var(--color-control-bg-ghost-hover);
    color: var(--color-icon-primary);
  }
}

.y-label-mark .a-icon,
.n-label-mark .a-icon {
  display: block;
}
