@use "../../../variables.scss" as *;

.marks-toggle {
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: space(1);
    user-select: none;
    word-break: break-word;
  }

  &__label {
    flex: 0 0 auto;
  }

  &__item {
    cursor: pointer;
    padding: space(1) 0;
    display: inline-block;
    white-space: nowrap;
  }
}

.y-label-mark {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 1px;
  background: #97cc64;
  color: #fff;
  padding: $space-micro-2 $space-micro-4;
  border-radius: $space-micro-4;
}

.n-label-mark {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 1px;
  padding: $space-micro-1 $space-micro-3 $space-micro-1 $space-micro-4;
  border-radius: $space-micro-4;
  border: 1px solid;
  font-weight: bold;
}

.y-label-mark .a-icon,
.n-label-mark .a-icon {
  display: block;
}
