@use "../../../theme/spacing.scss" as *;
.sorter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  color: var(--color-text-muted);
  user-select: none;

  &_enabled {
    color: var(--color-text-primary);
  }

  &__item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: gap(1);
    line-height: var(--line-height-s);
    min-height: gap(3);
    border-radius: var(--radius-0-5);
    padding-inline: gap(0.5) gap(1);

    &:hover {
      background: var(--color-row-bg-hover);
      color: var(--color-text-primary);
    }
  }

  &__icon {
    color: var(--color-sorter-fg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: gap(2);
    height: gap(2);
  }

  &__item:hover &__icon {
    color: var(--color-sorter-fg-hover);
  }

  &__icon#{&}_enabled,
  &__item:hover &__icon#{&}_enabled {
    color: var(--color-sorter-fg-active);
  }
}
