@import "../../variables.scss";

.tabs {
  list-style-type: none;
  position: relative;
  //  top: -1px;
  background: #fff;
  border-bottom: 1px solid $border-accent-color;
  padding: 0;
  margin: 0;
}
.tab {
  display: inline-block;
  font-size: 16px;
  & > a {
    display: inline-block;
    padding: $gap-size / 2 $gap-size;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom-color: $border-color;
    }
  }
  &_active > a {
    &,
    &:hover {
      border-bottom-color: $text-color;
    }
  }
}
