$spinner-color: #fc0;

.spinner {
  position: relative;
  animation: spinner 1s infinite linear;
  width: 32px;
  height: 32px;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #fc0;
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
