:root {
  --shadow-small: 0px 2px 10px 0px rgba(48, 57, 64, 0.08);
  --shadow-small-01: 0px 1px 2px 0px rgba(16, 24, 40, 0.1);
  --shadow-small-02: 0px 1px 3px 0px rgba(16, 24, 40, 0.06);
  --shadow-medium: 0px 8px 24px 0px rgba(48, 57, 64, 0.12);
  --shadow-large: 0px 2px 24px 0px rgba(48, 57, 64, 0.12);
  --shadow-raised: 0px 2px 6px 0px rgba(48, 57, 64, 0.08);
}
