:root {
  --palette-gray-25: #fcfcfdff;
  --palette-gray-50: #f8fafcff;
  --palette-gray-75: #f3f6f9ff;
  --palette-gray-100: #eef2f6ff;
  --palette-gray-150: #e9edf3ff;
  --palette-gray-200: #e3e8efff;
  --palette-gray-250: #d8dfe7ff;
  --palette-gray-300: #cdd5dfff;
  --palette-gray-350: #b3bdc9ff;
  --palette-gray-400: #9aa4b2ff;
  --palette-gray-450: #818c9cff;
  --palette-gray-500: #697586ff;
  --palette-gray-550: #5a6576ff;
  --palette-gray-600: #4b5565ff;
  --palette-gray-650: #414b5cff;
  --palette-gray-700: #364152ff;
  --palette-gray-750: #2b3546ff;
  --palette-gray-800: #202939ff;
  --palette-gray-900: #121926ff;
  --palette-gray-950: #0d121cff;
  --palette-gray-1000: #000512ff;
  --palette-gray-0: #ffffffff;
  --palette-brand-green-25: #effff8ff;
  --palette-brand-green-50: #dcfff0ff;
  --palette-brand-green-100: #b8ffe0ff;
  --palette-brand-green-200: #7ff8c3ff;
  --palette-brand-green-300: #4aeca7ff;
  --palette-brand-green-400: #22d98cff;
  --palette-brand-green-500: #00c978ff;
  --palette-brand-green-600: #00a967ff;
  --palette-brand-green-700: #008a56ff;
  --palette-brand-green-800: #006c45ff;
  --palette-brand-green-900: #005437ff;
  --palette-gray-alpha-day-25: #69699b05;
  --palette-gray-alpha-day-50: #16599c08;
  --palette-gray-alpha-day-75: #0f4a850d;
  --palette-gray-alpha-day-100: #0c457e12;
  --palette-gray-alpha-day-150: #0b377a17;
  --palette-gray-alpha-day-200: #002f701c;
  --palette-gray-alpha-day-250: #0b376a29;
  --palette-gray-alpha-day-300: #052e6133;
  --palette-gray-alpha-day-350: #02234b4d;
  --palette-gray-alpha-day-400: #031c3f66;
  --palette-gray-alpha-day-450: #03193a80;
  --palette-gray-alpha-day-500: #01153296;
  --palette-gray-alpha-day-550: #01132da6;
  --palette-gray-alpha-day-600: #011128b5;
  --palette-gray-alpha-day-650: #021027bf;
  --palette-gray-alpha-day-700: #010d23c9;
  --palette-gray-alpha-day-750: #031026d6;
  --palette-gray-alpha-day-800: #020b1de0;
  --palette-gray-alpha-day-900: #000714ed;
  --palette-gray-alpha-day-950: #00060ff2;
  --palette-gray-alpha-night-25: #fcfcfdff;
  --palette-gray-alpha-night-50: #fbfcfefc;
  --palette-gray-alpha-night-75: #f7fafdfa;
  --palette-gray-alpha-night-100: #f5fafff5;
  --palette-gray-alpha-night-150: #f6f9fef2;
  --palette-gray-alpha-night-200: #f6f9feed;
  --palette-gray-alpha-night-250: #f0f7ffe3;
  --palette-gray-alpha-night-300: #ecf5fddb;
  --palette-gray-alpha-night-350: #e8f2fcc2;
  --palette-gray-alpha-night-400: #e2effda6;
  --palette-gray-alpha-night-450: #ddebfd8c;
  --palette-gray-alpha-night-500: #d5e6fb73;
  --palette-gray-alpha-night-550: #d7e7fe5e;
  --palette-gray-alpha-night-600: #cedff84d;
  --palette-gray-alpha-night-650: #cde1fe40;
  --palette-gray-alpha-night-700: #bed7f836;
  --palette-gray-alpha-night-750: #bcd6fb26;
  --palette-gray-alpha-night-800: #aecbf917;
  --palette-gray-alpha-night-900: #aecbf90a;
  --palette-gray-alpha-night-950: #aecbf908;
  --palette-gray-850: #171f2eff;
  --palette-gray-neutral-25: #f9fbfcff;
  --palette-gray-neutral-50: #f6f8faff;
  --palette-gray-neutral-75: #f1f5f7ff;
  --palette-gray-neutral-100: #edf1f5ff;
  --palette-gray-neutral-150: #e8edf1ff;
  --palette-gray-neutral-200: #dfe4eaff;
  --palette-gray-neutral-250: #d8dee4ff;
  --palette-gray-neutral-300: #c3cbd4ff;
  --palette-gray-neutral-350: #adb7c2ff;
  --palette-gray-neutral-400: #95a0adff;
  --palette-gray-neutral-450: #727d8cff;
  --palette-gray-neutral-500: #677281ff;
  --palette-gray-neutral-550: #5d6876ff;
  --palette-gray-neutral-600: #525d6bff;
  --palette-gray-neutral-650: #485260ff;
  --palette-gray-neutral-700: #3e4755ff;
  --palette-gray-neutral-750: #353d4aff;
  --palette-gray-neutral-800: #2c343fff;
  --palette-gray-neutral-850: #242a34ff;
  --palette-gray-neutral-900: #1b2129ff;
  --palette-gray-neutral-950: #14191fff;
  --palette-gray-neutral-1000: #11151aff;
  --palette-gray-neutral-0: #ffffffff;
  --palette-black-alpha-0: #00000000;
  --palette-black-alpha-48: #0000007a;
  --palette-black-alpha-64: #000000a3;
  --palette-periwinkle-300: #b2ccffff;
  --palette-periwinkle-400: #84adffff;
  --palette-gray-neutral-alpha-day-25: #36799b08;
  --palette-gray-neutral-alpha-day-50: #1d4f810a;
  --palette-gray-neutral-alpha-day-75: #1658790f;
  --palette-gray-neutral-alpha-day-100: #1d4f8114;
  --palette-gray-neutral-alpha-day-150: #1a4c751a;
  --palette-gray-neutral-alpha-day-200: #092f5d21;
  --palette-gray-neutral-alpha-day-250: #0b305629;
  --palette-gray-neutral-alpha-day-300: #05264d3d;
  --palette-gray-neutral-alpha-day-350: #07254654;
  --palette-gray-neutral-alpha-day-400: #031c3a6b;
  --palette-gray-neutral-alpha-day-450: #0316308f;
  --palette-gray-neutral-alpha-day-500: #02132c99;
  --palette-gray-neutral-alpha-day-550: #021227a3;
  --palette-gray-neutral-alpha-day-600: #011228ad;
  --palette-gray-neutral-alpha-day-650: #010f23b8;
  --palette-gray-neutral-alpha-day-700: #010c1ec2;
  --palette-gray-neutral-alpha-day-750: #030c1ccc;
  --palette-gray-neutral-alpha-day-800: #010a18d4;
  --palette-gray-neutral-alpha-day-900: #020912e6;
  --palette-gray-neutral-alpha-day-950: #02080ded;
  --palette-gray-neutral-alpha-night-25: #fbfdfefc;
  --palette-gray-neutral-alpha-night-50: #fafcfffa;
  --palette-gray-neutral-alpha-night-75: #f6fbfef7;
  --palette-gray-neutral-alpha-night-100: #f6fafef5;
  --palette-gray-neutral-alpha-night-150: #f5fafff0;
  --palette-gray-neutral-alpha-night-200: #f5f9ffe8;
  --palette-gray-neutral-alpha-night-250: #f2f7fde3;
  --palette-gray-neutral-alpha-night-300: #ecf4fdd1;
  --palette-gray-neutral-alpha-night-350: #e3efffbd;
  --palette-gray-neutral-alpha-night-400: #deecfca6;
  --palette-gray-neutral-alpha-night-450: #d2e4fe80;
  --palette-gray-neutral-alpha-night-500: #d1e5ff73;
  --palette-gray-neutral-alpha-night-550: #cce0fa69;
  --palette-gray-neutral-alpha-night-600: #c6ddfb5c;
  --palette-gray-neutral-alpha-night-650: #c5dcfc4f;
  --palette-gray-neutral-alpha-night-700: #bfd6fd42;
  --palette-gray-neutral-alpha-night-750: #bdd4ff36;
  --palette-gray-neutral-alpha-night-800: #aecaf42b;
  --palette-gray-neutral-alpha-night-900: #9ebff012;
  --palette-gray-neutral-alpha-night-950: #769ac108;
  --palette-gray-neutral-alpha-day-850: #000714db;
  --palette-gray-neutral-alpha-night-850: #afc5f31f;
  --palette-red-day-base: #ff8a82ff;
  --palette-red-day-darken-1: #ff5148ff;
  --palette-red-day-darken-2: #f43f3bff;
  --palette-red-day-darken-3: #e33132ff;
  --palette-red-day-darken-4: #cc2028ff;
  --palette-red-day-darken-5: #b50f21ff;
  --palette-red-day-darken-6: #990018ff;
  --palette-red-night-base: #ffaca5ff;
  --palette-red-night-darken-1: #ff887fff;
  --palette-red-night-darken-2: #ff6f67ff;
  --palette-red-night-darken-3: #ff574fff;
  --palette-red-night-darken-4: #f43f3bff;
  --palette-red-night-darken-5: #e33132ff;
  --palette-red-night-darken-6: #cc2028ff;
  --palette-red-night-darken-7: #b50f21ff;
  --palette-red-day-darken-1-8: #ff514814;
  --palette-red-night-darken-4-12: #f43f3b1f;
  --palette-red-day-darken-1-16: #ff514829;
  --palette-red-day-darken-1-24: #ff51483d;
  --palette-red-night-darken-4-20: #f43f3b33;
  --palette-red-night-darken-4-28: #f43f3b47;
  --palette-rose-day-base: #ff7694ff;
  --palette-rose-day-darken-1: #f46386ff;
  --palette-rose-day-darken-2: #e45478ff;
  --palette-rose-day-darken-3: #d5466cff;
  --palette-rose-day-darken-4: #c1345dff;
  --palette-rose-day-darken-5: #b0204fff;
  --palette-rose-day-darken-6: #9f0142ff;
  --palette-rose-day-darken-1-8: #f4638614;
  --palette-rose-day-darken-1-16: #f4638629;
  --palette-rose-day-darken-1-24: #f463863d;
  --palette-rose-night-base: #ffa7b6ff;
  --palette-rose-night-darken-1: #ff8ea5ff;
  --palette-rose-night-darken-2: #ff7392ff;
  --palette-rose-night-darken-3: #f26184ff;
  --palette-rose-night-darken-4: #e35378ff;
  --palette-rose-night-darken-5: #d4456bff;
  --palette-rose-night-darken-6: #c1345dff;
  --palette-rose-night-darken-7: #b0204fff;
  --palette-rose-night-darken-4-12: #e353781f;
  --palette-rose-night-darken-4-20: #e3537833;
  --palette-rose-night-darken-4-28: #e3537847;
  --palette-magenta-day-base: #de80deff;
  --palette-magenta-day-darken-1: #d072d0ff;
  --palette-magenta-day-darken-2: #c165c1ff;
  --palette-magenta-day-darken-3: #b358b3ff;
  --palette-magenta-day-darken-4: #a248a2ff;
  --palette-magenta-day-darken-5: #923892ff;
  --palette-magenta-day-darken-6: #822783ff;
  --palette-magenta-day-darken-1-8: #d072d014;
  --palette-magenta-day-darken-1-16: #d072d029;
  --palette-magenta-day-darken-1-24: #d072d03d;
  --palette-magenta-night-base: #fb9afaff;
  --palette-magenta-night-darken-1: #ec8debff;
  --palette-magenta-night-darken-2: #dd7eddff;
  --palette-magenta-night-darken-3: #ce71cfff;
  --palette-magenta-night-darken-4: #c064c0ff;
  --palette-magenta-night-darken-5: #b257b2ff;
  --palette-magenta-night-darken-6: #a248a2ff;
  --palette-magenta-night-darken-7: #923892ff;
  --palette-magenta-night-darken-4-12: #c064c01f;
  --palette-magenta-night-darken-4-20: #c064c033;
  --palette-magenta-night-darken-4-28: #c064c047;
  --palette-orange-day-base: #ffbd63ff;
  --palette-orange-day-darken-1: #ff9500ff;
  --palette-orange-day-darken-2: #ff8200ff;
  --palette-orange-day-darken-3: #f56f00ff;
  --palette-orange-day-darken-4: #e25f00ff;
  --palette-orange-day-darken-5: #c94e00ff;
  --palette-orange-day-darken-6: #ad3f00ff;
  --palette-orange-day-darken-1-8: #ff950014;
  --palette-orange-day-darken-1-16: #ff950029;
  --palette-orange-day-darken-1-24: #ff95003d;
  --palette-orange-night-base: #ffc878ff;
  --palette-orange-night-darken-1: #ffb957ff;
  --palette-orange-night-darken-2: #ffa833ff;
  --palette-orange-night-darken-3: #ff9500ff;
  --palette-orange-night-darken-4: #ff8100ff;
  --palette-orange-night-darken-5: #ee6d00ff;
  --palette-orange-night-darken-6: #d65a00ff;
  --palette-orange-night-darken-7: #bd4900ff;
  --palette-orange-night-darken-4-12: #ff81001f;
  --palette-orange-night-darken-4-20: #ff810033;
  --palette-orange-night-darken-4-28: #ff810047;
  --palette-amber-day-base: #fac753ff;
  --palette-amber-day-darken-1: #e5b13aff;
  --palette-amber-day-darken-2: #d09d1aff;
  --palette-amber-day-darken-3: #b98b00ff;
  --palette-amber-day-darken-4: #a27900ff;
  --palette-amber-day-darken-5: #8c6800ff;
  --palette-amber-day-darken-6: #745500ff;
  --palette-amber-day-darken-1-8: #e5b13a14;
  --palette-amber-day-darken-1-16: #e5b13a29;
  --palette-amber-day-darken-1-24: #e5b13a3d;
  --palette-amber-night-base: #ffd787ff;
  --palette-amber-night-darken-1: #fac753ff;
  --palette-amber-night-darken-2: #ecb842ff;
  --palette-amber-night-darken-3: #ddaa30ff;
  --palette-amber-night-darken-4: #c89605ff;
  --palette-amber-night-darken-5: #b18400ff;
  --palette-amber-night-darken-6: #9b7300ff;
  --palette-amber-night-darken-7: #856300ff;
  --palette-amber-night-darken-4-12: #c896051f;
  --palette-amber-night-darken-4-20: #c8960533;
  --palette-amber-night-darken-4-28: #c8960547;
  --palette-green-day-base: #8ceaa0ff;
  --palette-green-day-darken-1: #56d66fff;
  --palette-green-day-darken-2: #3bc95dff;
  --palette-green-day-darken-3: #23b74dff;
  --palette-green-day-darken-4: #0ca241ff;
  --palette-green-day-darken-5: #008736ff;
  --palette-green-day-darken-6: #006f2dff;
  --palette-green-day-darken-1-8: #56d66f14;
  --palette-green-day-darken-1-16: #56d66f29;
  --palette-green-day-darken-1-24: #56d66f3d;
  --palette-green-night-base: #8ef2a0ff;
  --palette-green-night-darken-1: #76e58dff;
  --palette-green-night-darken-2: #60d87aff;
  --palette-green-night-darken-3: #49cb68ff;
  --palette-green-night-darken-4: #31bd58ff;
  --palette-green-night-darken-5: #19ab4aff;
  --palette-green-night-darken-6: #07963dff;
  --palette-green-night-darken-7: #008033ff;
  --palette-green-night-darken-5-12: #19ab4a1f;
  --palette-green-night-darken-5-20: #19ab4a33;
  --palette-green-night-darken-5-28: #19ab4a47;
  --palette-teal-day-base: #1dcba8ff;
  --palette-teal-day-darken-1: #00b997ff;
  --palette-teal-day-darken-2: #00a687ff;
  --palette-teal-day-darken-3: #009478ff;
  --palette-teal-day-darken-4: #008269ff;
  --palette-teal-day-darken-5: #006e59ff;
  --palette-teal-day-darken-6: #005b49ff;
  --palette-teal-day-darken-1-8: #00b99714;
  --palette-teal-day-darken-1-16: #00b99729;
  --palette-teal-day-darken-1-24: #00b9973d;
  --palette-teal-night-base: #43e1bbff;
  --palette-teal-night-darken-1: #2cd2adff;
  --palette-teal-night-darken-2: #00c49fff;
  --palette-teal-night-darken-3: #00b492ff;
  --palette-teal-night-darken-4: #00a586ff;
  --palette-teal-night-darken-5: #00967aff;
  --palette-teal-night-darken-6: #008269ff;
  --palette-teal-night-darken-7: #006e59ff;
  --palette-teal-night-darken-5-12: #00967a1f;
  --palette-teal-night-darken-5-20: #00967a33;
  --palette-teal-night-darken-5-28: #00967a47;
  --palette-blue-day-base: #7aa7ffff;
  --palette-blue-day-darken-1: #6497ffff;
  --palette-blue-day-darken-2: #5589f2ff;
  --palette-blue-day-darken-3: #497be4ff;
  --palette-blue-day-darken-4: #3c6ed5ff;
  --palette-blue-day-darken-5: #2f5fc5ff;
  --palette-blue-day-darken-6: #2150b4ff;
  --palette-blue-day-darken-1-8: #6497ff14;
  --palette-blue-day-darken-1-16: #6497ff29;
  --palette-blue-day-darken-1-24: #6497ff3d;
  --palette-blue-night-base: #a5c4ffff;
  --palette-blue-night-darken-1: #8eb5ffff;
  --palette-blue-night-darken-2: #78a6ffff;
  --palette-blue-night-darken-3: #6296ffff;
  --palette-blue-night-darken-4: #5488f1ff;
  --palette-blue-night-darken-5: #487ae3ff;
  --palette-blue-night-darken-6: #3768cfff;
  --palette-blue-night-darken-7: #2656bbff;
  --palette-blue-night-darken-5-12: #487ae31f;
  --palette-blue-night-darken-5-20: #487ae333;
  --palette-blue-night-darken-5-28: #487ae347;
  --palette-sky-day-base: #62b7fcff;
  --palette-sky-day-darken-1: #54a8edff;
  --palette-sky-day-darken-2: #459bdeff;
  --palette-sky-day-darken-3: #368dd0ff;
  --palette-sky-day-darken-4: #2680c2ff;
  --palette-sky-day-darken-5: #0d71b2ff;
  --palette-sky-day-darken-6: #00629eff;
  --palette-sky-day-darken-1-8: #54a8ed14;
  --palette-sky-day-darken-1-16: #54a8ed29;
  --palette-sky-day-darken-1-24: #54a8ed3d;
  --palette-sky-night-base: #9bd0ffff;
  --palette-sky-night-darken-1: #7dc3ffff;
  --palette-sky-night-darken-2: #61b6fbff;
  --palette-sky-night-darken-3: #53a7ebff;
  --palette-sky-night-darken-4: #449addff;
  --palette-sky-night-darken-5: #358ccfff;
  --palette-sky-night-darken-6: #1e7abbff;
  --palette-sky-night-darken-7: #0068a6ff;
  --palette-sky-night-darken-5-12: #358ccf1f;
  --palette-sky-night-darken-5-20: #358ccf33;
  --palette-sky-night-darken-5-28: #358ccf47;
  --palette-violet-day-base: #ad95ffff;
  --palette-violet-day-darken-1: #a181ffff;
  --palette-violet-day-darken-2: #9473f1ff;
  --palette-violet-day-darken-3: #8865e1ff;
  --palette-violet-day-darken-4: #7855d0ff;
  --palette-violet-day-darken-5: #6a45bfff;
  --palette-violet-day-darken-6: #5d35aeff;
  --palette-violet-day-darken-1-8: #a181ff14;
  --palette-violet-day-darken-1-16: #a181ff29;
  --palette-violet-day-darken-1-24: #a181ff3d;
  --palette-violet-night-base: #c5b7ffff;
  --palette-violet-night-darken-1: #b8a6ffff;
  --palette-violet-night-darken-2: #ac93ffff;
  --palette-violet-night-darken-3: #a07fffff;
  --palette-violet-night-darken-4: #9372f0ff;
  --palette-violet-night-darken-5: #8764e0ff;
  --palette-violet-night-darken-6: #7855d0ff;
  --palette-violet-night-darken-7: #6a45bfff;
  --palette-violet-night-darken-5-12: #8764e01f;
  --palette-violet-night-darken-5-20: #8764e033;
  --palette-violet-night-darken-5-28: #8764e047;
  --palette-purple-day-base: #dc9bf4ff;
  --palette-purple-day-darken-1: #c377e3ff;
  --palette-purple-day-darken-2: #b468d3ff;
  --palette-purple-day-darken-3: #a75bc5ff;
  --palette-purple-day-darken-4: #964bb4ff;
  --palette-purple-day-darken-5: #873ba4ff;
  --palette-purple-day-darken-6: #782c93ff;
  --palette-purple-day-darken-1-8: #c377e314;
  --palette-purple-day-darken-1-16: #c377e329;
  --palette-purple-day-darken-1-24: #c377e33d;
  --palette-purple-night-base: #efbcffff;
  --palette-purple-night-darken-1: #de90ffff;
  --palette-purple-night-darken-2: #d083f0ff;
  --palette-purple-night-darken-3: #c176e1ff;
  --palette-purple-night-darken-4: #b367d2ff;
  --palette-purple-night-darken-5: #a65ac4ff;
  --palette-purple-night-darken-6: #964bb4ff;
  --palette-purple-night-darken-7: #873ba4ff;
  --palette-purple-night-darken-5-12: #a65ac41f;
  --palette-purple-night-darken-5-20: #a65ac433;
  --palette-purple-night-darken-5-28: #a65ac447;
  --palette-slate-day-base: #a5b7d1ff;
  --palette-slate-day-darken-1: #91a3bcff;
  --palette-slate-day-darken-2: #7e90a8ff;
  --palette-slate-day-darken-3: #6b7d94ff;
  --palette-slate-day-darken-4: #596a81ff;
  --palette-slate-day-darken-5: #495970ff;
  --palette-slate-day-darken-6: #39495eff;
  --palette-slate-day-darken-1-8: #91a3bc14;
  --palette-slate-day-darken-1-16: #91a3bc29;
  --palette-slate-day-darken-1-24: #91a3bc3d;
  --palette-slate-night-base: #b9cce5ff;
  --palette-slate-night-darken-1: #abbed7ff;
  --palette-slate-night-darken-2: #9aacc5ff;
  --palette-slate-night-darken-3: #8a9cb4ff;
  --palette-slate-night-darken-4: #7a8ba4ff;
  --palette-slate-night-darken-5: #6a7c93ff;
  --palette-slate-night-darken-6: #596a81ff;
  --palette-slate-night-darken-7: #495970ff;
  --palette-slate-night-darken-5-12: #6a7c931f;
  --palette-slate-night-darken-5-20: #6a7c9333;
  --palette-slate-night-darken-5-28: #6a7c9347;
}
