<ul class="{{b 'language-select' 'menu'}}">
    {{#each languages}}
        <li class="{{b 'language-select' 'item' active=(eq id ../currentLang)}}" data-id="{{id}}">{{title}}</li>
    {{/each}}
</ul>
