@import "../../variables.scss";

.StepList {
  list-style: none none;
  padding: 0;
  margin: 0;
  line-height: $line-height;

  &__row {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px $gap-size 5px 0;
    border-bottom: 1px solid $border-color;
    word-break: break-all;

    &:hover {
      background: $hover-color;
    }

    &_hasContent {
      cursor: pointer;
    }
  }

  &__arrow {
    padding-left: 15px;
    padding-right: 10px;
  }

  &__status {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__name {
    word-break: break-all;
    flex: 1;
  }

  &__duration {
    padding-left: $gap-size;
    white-space: nowrap;
    color: $text-muted-color;
    font-size: small;
  }

  &__content {
    padding-left: $gap-size;
    padding-bottom: $gap-size;
  }
}
