[dir="rtl"] .chart__axis_y g text {
  text-anchor: start;
}

[dir="rtl"] .timeline__group text {
  text-anchor: end;
}

[dir="rtl"] .chart__legend {
  right: 10%;
}

[dir="rtl"] .fa-angle-left:before {
  content: "\F105";
}

[dir="rtl"] .tooltip_position_bottom {
  width: 100px;
}
