[dir=rtl] .chart__axis_y g text {
	text-anchor: start;
}

[dir=rtl] .timeline__group text {
	text-anchor: end;
}

[dir=rtl] .chart__legend{
	right: 10%;
}

[dir=rtl] .fa-angle-left:before {
    content: "\F105";
}

[dir=rtl] .fa-chevron-right:before {
    content: "\F053";
}

[dir=rtl] .step_expanded > .step__title > .step__arrow > .fa-chevron-right {
	transform: rotate(180deg);
}

[dir=rtl] .tooltip_position_bottom {
	width: 100px;
}