@import "./mixins";

body {
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 15px;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.long-line {
  word-break: break-all;
}

.line-nobreak {
  white-space: nowrap;
}

.preformated-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.line-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link {
  color: $brand-blue;
  &:hover {
    color: $brand-red;
  }
  &__no-decoration {
    color: black;
    text-decoration: none;
  }
}

.text {
  @include status-text();
}
