@use "./variables.scss" as *;
@use "./rtl.scss" as *;
@use "./shared/styles/primitives/alert/styles.scss" as *;
@use "./shared/styles/primitives/attachment-row/styles.scss" as *;
@use "./shared/styles/primitives/bar/styles.scss" as *;
@use "./shared/styles/primitives/button/styles.scss" as *;
@use "./shared/styles/primitives/island/styles.scss" as *;
@use "./shared/styles/primitives/label/styles.scss" as *;
@use "./shared/styles/primitives/link/styles.scss" as *;
@use "./shared/styles/primitives/splash/styles.scss" as *;
@use "./shared/styles/primitives/step-stats/styles.scss" as *;
@use "./shared/styles/primitives/text/styles.scss" as *;
@use "./shared/styles/primitives/widget/styles.scss" as *;
@use "./shared/styles/primitives/parameters-table/styles.scss" as *;

body {
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

#content {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .app {
    flex: 1;
  }
}

.view {
  padding: 0 space(2);
  margin: 0 auto;
  &_narrow {
    max-width: grid(138);
  }
  &-small {
    max-width: grid(38);
  }
  &-medium {
    max-width: grid(75);
  }
  &-large {
    max-width: grid(150);
  }
}

.clickable {
  cursor: pointer;
}

.long-line {
  word-break: break-word;
}

.line-nobreak {
  white-space: nowrap;
}

.preformated-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.line-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
