@import "../../variables.scss";

.side-by-side {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.panel-left {
  overflow: auto;
  flex: 0 0 auto;
}

.panel-right {
  overflow: auto;
  flex: 1 1 auto;
}

.gutter {
  background: $border-color no-repeat 50%;
}

.gutter-horizontal {
  background-image: url('vertical.png')
}