@import "../../variables.scss";

.side-by-side {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.panel-left {
  overflow: auto;
  flex: 0 0 auto;
  width: 600px;
  border-right: 1px solid $border-accent-color;
}

.panel-right {
  overflow: auto;
  flex: 1 1 auto;
  word-break: break-all;
}