@use "../../../../variables.scss" as *;
@use "../../../../mixins.scss" as *;

.bar {
  height: space(2);
  overflow: hidden;
  border-radius: $space-micro-4;
  background: #eee;
  display: inline-flex;
  width: 100%;
  &__fill {
    display: inline-block;
    overflow: hidden;
    height: space(2);
    background: $brand-blue;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: space(2);
    @include status-bg-bright();
  }
}
