@use "../../../../variables.scss" as *;

.parameters-table {
  display: table;
  font-size: 12px;
  width: 100%;
  padding-inline-end: space(1);
  table-layout: fixed;
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    padding: space(1);
    cursor: pointer;
    word-wrap: break-word;
    &_name {
      width: 25%;
    }
    &_value {
      width: 75%;
    }
  }
}
