<div class="{{b cls 'body'}}">
    <h2 class="pane__title {{b cls 'title'}}">
        <span>{{title}}</span>
        <span class="pane__controls">
        <span class="modal__close fa fa-close" data-tooltip="Close" href="/{{backUrl}}"></span>
    </span>
    </h2>
<div class="modal__content"></div>
</div>