<div class="modal__background">
    <div class="modal__window">
        <h2 class="{{b cls 'title'}}">
            <span>{{title}}</span>
            <span class="{{b cls 'close'}} fa fa-close" data-tooltip="Close"></span>
        </h2>
        <div class="modal__content"></div>
        <br>
    </div>

</div>
