<div class="{{b cls 'body'}}">

<div class="modal__background"></div>
<div class="modal__window">
        <h2 class="{{b cls 'title'}}">
            <span>{{title}}</span>
            <span class="pane__controls">
            <span class="modal__close fa fa-close" data-tooltip="Close"></span>
        </span>
        </h2>
        <div class="modal__content"></div>
    </div>
</div>