<div class="modal__background">
    <div class="modal__window">
        <h2 class="{{b cls 'title'}}">
            <span>{{title}}</span>
            <div class="pane__controls">
                <span class="modal__close fa fa-close" data-tooltip="Close"></span>
            </div>
        </h2>
        <div class="modal__content"></div>
        <br>
    </div>

</div>
