@import "../../variables.scss";

.modal {
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background-color: rgba(235, 235, 235, 0.7);
    z-index: 1000;
  }
  &__window {
    position: absolute;
    overflow: auto;
    width: 90%;
    max-height: 100%;
    margin-left: 5%;
    top: 0;
    z-index: 1001;
  }
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}