@import "../../variables.scss";

.modal {
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(235, 235, 235, 0.7);
    z-index: 1000;
  }
  &__title {
    display: flex;
  }
  &__close {
    margin-left: auto;
  }
  &__window {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    top: 0;
    z-index: 1001;
  }
}

.blur {
  filter: blur(3px);
}
