{{name}}
<div class="trend__tooltip">
    {{#each data}}
        <div class="trend__tooltip_label">
            <span class="label" style="background-color: {{color}}">{{num}}</span>
            <span class="trend__tooltip_name">{{key}}</span>
        </div>
    {{/each}}
</div>
