{{name}}
<div class="trend__tooltip">
    {{#each statistic}}
        <div class="trend__tooltip_label">
            <span class="label label_status_{{@key}}">{{this}}</span>
        </div>
    {{/each}}
</div>