@use "../../../variables.scss" as *;

.test-result-history {
  .label {
    flex: 0 0 auto;
    margin-inline-end: space(1);
  }

  &__row {
    padding: space(1) space(2) space(1) 0;
  }

  &__entry,
  &__link {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: space(1);
  }

  &__link {
    text-decoration: none;
  }

  &__time {
    white-space: nowrap;
  }

  &__success-rate {
    padding-bottom: space(1);
  }
}
