@import "../../mixins.scss";

.StatusDetails {
  overflow: auto;

  @include status-border();
  @include status-bg-light();

  &__message-wrapper {
  }

  &__message {
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;

    padding: 0 $gap-size;

    & > pre {
      white-space: pre-wrap;
    }
  }

  &__controls {
    display: flex;
    padding: 5px;

    & > div {
      margin-left: 5px;
    }
  }

  &__strut {
    flex: 1;
  }

  &__trace {
    overflow: auto;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0 $gap-size;
    white-space: pre-line;
    border-top: 1px solid $pane-bg-color;

    & > pre {
      display: inline-block;
      width: 200%;
      white-space: pre-wrap;
    }
  }
}
