@use "../../theme/spacing.scss" as *;
.a-icon {
  display: inline-block;
  width: gap(2);
  height: gap(2);
  flex: 0 0 auto;
  vertical-align: middle;
  color: inherit;
}

.a-icon_inline {
  vertical-align: middle;
}

.a-icon_size_xs {
  width: gap(1);
  height: gap(1);
}

.a-icon_size_s {
  width: gap(2);
  height: gap(2);
}

.a-icon_size_m {
  width: gap(3);
  height: gap(3);
}

.a-icon_size_l {
  width: gap(4);
  height: gap(4);
}

.a-icon_size_xl {
  width: gap(5);
  height: gap(5);
}

.status-icon_status_failed {
  color: var(--color-status-failed-bg);
}

.status-icon_status_broken {
  color: var(--color-status-broken-bg);
}

.status-icon_status_passed {
  color: var(--color-status-passed-bg);
}

.status-icon_status_skipped {
  color: var(--color-status-skipped-bg);
}

.status-icon_status_unknown {
  color: var(--color-status-unknown-bg);
}
