{{#if severity}}
    <span class="pane__section-title">{{t 'testResult.severity.name'}}</span>
    <span class="pane__section-content" data-severity="{{severity}}">
        {{t (concat 'testResult.severity.' severity)}}
    </span>
{{/if}}
