@use "../../../mixins.scss" as *;

@use "../../../theme/spacing.scss" as *;
.chart {
  margin-right: gap(2);
  margin-bottom: gap(2);
  margin-top: gap(2);
  position: relative;
  flex: 1;
  &__title {
    color: var(--color-text-secondary);
    fill: var(--color-text-secondary);
    font-family: var(--font-family);
    margin-top: 0;
    margin-bottom: gap(2);
    font-size: var(--font-size-xl);
  }
  &__caption {
    color: var(--color-text-secondary);
    fill: var(--color-text-secondary);
    font-family: var(--font-family);
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xxl);
    text-anchor: middle;
  }
  &__body > div {
    padding-top: 50%;
    position: relative;
  }
  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__legend {
    color: var(--color-text-secondary);
    font-size: var(--font-size-s);
    position: absolute;
    height: 50%;
    top: 10%;
    right: 10%;
    display: grid;
  }
  &__legend-icon {
    position: relative;
    top: -1px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    margin-right: 5px;
    @include status-chart-bg();
  }

  &__bar {
    shape-rendering: crispEdges;
    fill: var(--color-chart-categorical-3);
    @include status-chart-fill();
  }
  &__arc {
    stroke: var(--color-bg-primary);
    stop-opacity: 0;
    @include status-chart-fill();
  }
  &__fill {
    @include status-fill();
  }
  &__axis {
    path,
    line {
      shape-rendering: crispEdges;
      stroke: var(--color-border-subtle);
      fill: none;
    }
  }

  text {
    fill: var(--color-text-secondary);
    font-family: var(--font-family);
  }
}
