@use "../../../theme/spacing.scss" as *;
$popover-arrow-size: gap(2);
$popover-border-width: 1px;

.popover {
  position: absolute;
  background: var(--color-bg-raised);
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-medium);
  padding: gap(1);
  font-size: var(--font-size-m);
  &::before,
  &::after {
    content: " ";
    position: absolute;
    border: 8px solid transparent;
    top: 50%;
    margin-top: calc(-1 * gap(1));
  }
  &_position_right {
    &::before {
      left: calc(-1 * #{$popover-arrow-size});
      border-right-color: var(--color-border-default);
    }
    &::after {
      left: calc(-#{$popover-arrow-size} + #{$popover-border-width});
      border-right-color: var(--color-bg-raised);
    }
  }
  &_position_left {
    &::before {
      left: 100%;
      border-left-color: var(--color-border-default);
    }
    &::after {
      left: calc(100% - #{$popover-border-width});
      border-left-color: var(--color-bg-raised);
    }
  }
  &__list {
    margin: 0.5em 0;
    padding-inline-start: gap(3);
  }
}
