@import "../../variables.css";

.step-stats {
  &__info {
    color: $text-muted-color;
    font-size: small;
    vertical-align: bottom;
    padding-left: 5px;
    &_time {
      float: right;
    }
  }
}
