@use "../../../../theme/spacing.scss" as *;
.block__arrow {
  position: absolute;
  visibility: visible;
  transition: transform 0.16s ease-out;
  font-weight: var(--font-weight-normal);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: gap(2);
  height: gap(2);
  line-height: var(--line-height-s);
  transform-origin: center;
  &__expanded {
    transform: rotate(90deg);
  }
}

[dir="rtl"] .block__arrow {
  transform: scaleX(-1);
  filter: FlipH;
}

.angle {
  width: gap(2);
  height: gap(2);
  transform-origin: center;
  transition: transform 0.16s ease-out;
}
