{{#if (is-def value)}}
    <span class="node__time" data-tooltip="{{tooltip}}">
                                <span class="fa fa-clock-o"></span>
                                <b>{{name}}</b>
        {{duration value}}
                            </span>
{{/if}}