@import "../../variables.scss";

.search {
    &__container {
        width: 100%;
        max-width: 350px;
        float: right;
    }
    &__input {
        width: 100%;
        font-size: .8em;
    }
}