@import "../../variables.scss";

.widgets-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $gap-size $gap-size 0 $gap-size;
  max-height: 100%;
  overflow: auto;
  display: flex;
  &__col {
    flex: 1 0 0%;
    width: 50%;
    min-width: $min-pane-size;
  }
  &__col + &__col {
    flex: 1 0 0%;
    padding-left: $gap-size;
  }
}

@media (max-width: $small-screen) {
  .widgets-grid {
    display: block;
    &__col {
      width: 100%;
    }
    &__col + &__col {
      padding-left: 0;
    }
  }
}
