@use "../../../../variables.scss" as *;
@use "../../../../mixins.scss" as *;

.label {
  vertical-align: baseline;
  letter-spacing: 1px;
  color: #fff;
  padding: $space-micro-2 $space-micro-4;
  font-size: 80%;
  border-radius: $space-micro-4;
  @include status-bg-bright();

  &__info {
    background: #3c58e4;
  }
}
