@import "../../variables.css";

.widget {
  margin-bottom: $gap-size;
  position: relative;

  &_ghost {
    border: 1px dashed $border-accent-color;
    box-shadow: none;
    min-height: 50px;
    & > * {
      display: none;
    }
  }

  &__title {
    margin-top: 0;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $text-muted-color;
    font-size: 16px;
    text-transform: none;
  }

  &__flex-line {
    display: flex;
  }

  &__column {
    width: 50%;
  }

  &__handle {
    display: none;
    position: absolute;
    font-size: 16px;
    cursor: move;
    right: $gap-size;
    top: $gap-size;
    color: $text-muted-color;
    .widget:hover & {
      display: block;
    }
  }

  &__table {
    border-top: 1px solid $border-color;
    margin: 0 -$gap-size;
    .table__row:last-child {
      border-bottom: 0;
    }
  }
}
