<ul class="{{b 'status-toggle' 'menu'}}">
    {{#each statuses}}
        <li class="{{b 'status-toggle' 'item' status=status active=active}}" data-status="{{status}}">{{t name}}</li>
    {{/each}}
</ul>