@import "../../mixins.css";

.status-toggle {
  z-index: 1;
  padding: 0;
  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    padding: 0.5em 0.8em;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &::before {
      position: relative;
      top: -1px;
      margin-right: 0.3em;
      vertical-align: middle;
      content: ' ';
      display: inline-block;
      height: 1em;
      width: 1em;
      border-radius: 2px;
    }
    @mixin status-bg-bright-before;
    &:hover {
      background: $hover-color;
    }
    
    &::after {
      content: ' ';
      display: inline-block;
      background: url(../language-select/checkmark.svg) center no-repeat;
      background-size: contain;
      width: 0.8em;
      height: 0.8em;
      margin-left: 0.7em;;
      visibility: hidden;
      float: right;
    }
    &_active::after {
      visibility: visible;
    }
  }
}
