@import "../../mixins.scss";

.status-toggle {
  &__items {
    display: block;
    user-select: none;
    word-break: break-word;
  }
  &__item {
    cursor: pointer;
    padding: 5px 0 5px 0;
    display: inline-block;
    white-space: nowrap;
  }
}

.y-label {
  vertical-align: baseline;
  letter-spacing: 1px;
  color: #fff;
  padding: 2px 4px 2px 5px;
  border-radius: 3px;
  @include status-bg-bright();
}

.n-label {
  vertical-align: baseline;
  letter-spacing: 1px;
  padding: 1px 3px 1px 4px;
  border-radius: 3px;
  border: 1px solid;
  font-weight: bold;
  @include status-text();
  @include status-border();
}
