@import "../../variables.scss";
@import "../../mixins.scss";

.test-result {
  &__content {
    margin-bottom: 300px;
  }
}

.testresult__failure_expanded > .testresult__trace {
  display: block;
}

.message {
  border-bottom: 3px solid;
  @include status-border();
}

.fullname__copy {
  cursor: pointer;
}