@import "../../variables.css";
@import "../../mixins.css";

.testresult {
  &__trace {
    border-top: 1px solid $border-color;
    padding-top: 10px;
    margin-top: 10px;
    display: none;
    &_visible {
      display: block;
    }
  }
  &__trace-toggle {
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    color: $text-muted-color;
    &:hover {
      background-color: $hover-color;
    }
  }
  &__severity {
    color: $color-skipped;
  }
  &__failure {
    padding-bottom: 10px;
  }
}

.testresult__failure_expanded > .testresult__trace {
  display: block;
}

.message {
  border-bottom: 3px solid;
  @mixin status-border;
}

.fullname__copy {
  cursor: pointer;
}