@import "../../variables.scss";
@import "../../mixins.scss";

.test-result {
  &__name {
    padding-left: 10px;
  }
  &__content {
    margin-bottom: 300px;
  }
}

.app__content > .test-result {
  position: absolute;
  width: 100%;
}

.testresult__failure_expanded > .testresult__trace {
  display: block;
}

.message {
  border-bottom: 3px solid;
  @include status-border();
}

.fullname__copy {
  cursor: pointer;
}
