{{#if value}}
    <h3 class="pane__section-title">Description</h3>
    {{#if (eq type "TEXT")}}
        <p class="description__text">{{value}}</p>
    {{/if}}
    {{#if (eq type "MARKDOWN")}}
        {{{value}}}
    {{/if}}
{{/if}}
