@import "../../variables.scss";

.Sorter {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 0 5px 10px;
  &__icon {
    color: $text-muted-color;
    &_enabled {
      color: $text-color;
    }
  }
  &:hover {
    background: $selected-color;
  }
}