@import "../../variables.scss";

.attachments {
  list-style: none none;
  padding: 0;
  margin: 0;
}

.attachment {
  position: relative;
  list-style: none none;
  padding: 0;
  margin: 0;

  &__arrow {
    left: 7px;
  }
  &__type {
    padding-left: 10px;
    flex: 1;

    color: $text-muted-color;
    font-size: small;
    vertical-align: bottom;
  }
  &__links {
    color: $text-muted-color;
    font-size: small;
    vertical-align: bottom;
  }

  &__row {
    padding: 5px $gap-size 5px 30px;
    line-height: 1.2em;
    display: flex;
    cursor: pointer;

    &:hover {
      background: $hover-color;
    }
  }
  &__content {
    padding: 10px;
    display: none;
    background-color: $attachment-bg;
    &_expanded {
      display: block;
    }
  }
}