@import "../../variables.css";

.attachment-row {
  width: 90%;
  padding: 7px $gap-size 7px 25px;
  cursor: pointer;
  position: relative;
  font-size: small;
  &:hover {
    background: $hover-color;
  }
  &_selected {
    &, &:hover {
      background: $selected-color;
    }
  }
  &__link {
    float: right;
    min-width: 70px;
  }
  &__icon {
    left: 7px;
    position: absolute;
  }
}
