@import "../../variables.scss";

.Button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid $border-accent-color;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.25;
  font-weight: normal;
  margin: 0;
  outline: black none 0;
  padding: 0 7px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &_inline {
    margin: 0 5px 0 0;
  }
  &_size_large {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }
  &_size_small {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    min-width: 80px;
  }

  &:hover {
    border-color: #888;
  }
  &:focus {
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  }
}
