<div class="timeline__body">
    <div class='timeline__chart'>
        <svg class="timeline__chart_svg">
            <g transform="translate({{PADDING}}, 15)">
                <g class="timeline__slider"/>
                <g class="timeline__plot" transform="translate(0, {{PADDING}})">
                    <g class="timeline__chart__axis timeline__chart__axis_x"/>
                </g>
            </g>
        </svg>
    </div>
    <div class='timeline__brush'>
        <svg class="timeline__brush_svg">
            <g class="timeline__brush__axis timeline__brush__axis_x"/>
        </svg>
    </div>
</div>