@import "../../mixins.scss";

.status-details {
  overflow: auto;

  &__content {
    @include status-border();
    @include status-bg-light();
  }

  &__message-wrapper {
    display: flex;
  }

  &__message {
    padding: $gap-size;
    flex: 1;
    word-break: break-all;
  }

  &__controls {
    padding: 5px;
  }

  &__trace {
    display: block;
    word-break: break-all;
    padding: $gap-size;
    white-space: pre;
    border-top: 1px solid $pane-bg-color;
  }
}