@use "../../../mixins.scss" as *;

@use "../../../theme/spacing.scss" as *;
.trend {
  &__tooltip {
    display: flex;
    flex-direction: column;
    gap: gap(0.5);
    white-space: nowrap;

    &_label {
      align-items: center;
      display: flex;
      gap: gap(0.5);
      text-align: left;
    }
    &_name {
      vertical-align: middle;
    }
  }
}
