@import "../../variables.css";

.status-toggle {
  &__button {
    white-space: nowrap;
    &::before {
      position: relative;
      top: -1px;
      margin-right: 0.3em;
      vertical-align: middle;
      content: ' ';
      display: inline-block;
      height: 1em;
      width: 1em;
      border-radius: 2px;

    }
    &_status_passed::before {
      background: $color-passed;
    }
    &_status_canceled::before {
      background: $color-canceled;
    }
    &_status_pending::before {
      background: $color-pending;
    }
    &_status_failed::before {
      background: $color-failed;
    }
    &_status_broken::before {
      background: $color-broken;
    }
  }
}
