name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'
      - 'hotfix-*'

jobs:
  build_8:
    name: "Build JDK 1.8"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2.3.4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build buildDeb buildRpm
  build_11:
    name: "Build JDK 11"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2.3.4
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11.0.x
      - name: Build with Gradle
        run: ./gradlew build buildDeb buildRpm
