<h2 class="widget__title">{{t "TEST_RUN"}}</h2>
<div class="overview-widget__caption">
    {{t "STARTED_AT" date=(date time.start) time=(time time.start)}} ({{duration time.duration}})
</div>
<div class="overview-widget__bar">
    {{status-bar statistic}}
</div>
