@import "../../mixins.scss";

.steps {
  list-style: none none;
  padding: 0;
  margin: 0;
}

.step {
  position: relative;
  list-style: none none;
  padding: 0;
  margin: 0;

  &__arrow {
    left: 7px;
  }
  &__status {
    left: 7px;
    position: absolute;
  }
  &__stats {
    padding-left: 10px;
    flex: 1;

    color: $text-muted-color;
    font-size: small;
    vertical-align: bottom;
  }
  &__stats-separator:last-child {
    display:none;
  }
  &__time {
    white-space: nowrap;
    color: $text-muted-color;
    font-size: small;
    vertical-align: bottom;
  }

  &__row {
    padding: 7px $gap-size 7px 30px;
    line-height: 1.2em;
    display: flex;

    &:hover {
      background: $hover-color;
    }

    &_hasContent {
      cursor: pointer;
    }
  }
  &__content {
    margin-left: 15px;
    padding-bottom: 10px;
    display: none;
    &_expanded {
      display: block;
    }
  }
}
